In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df0 = pd.read_csv('TRB Flight Safety.csv')

In [3]:
df0.head()

,Event_ID,Source,Date,Time,Flight_Number,Orig,Dest,Fleet,Ship_Number,EDR_EQUIP,...,Altitude,Flight_Phase,P1,P2,P3,P3A,P4,P5,P6,Comments
0,TRB16001,Unknown,1-Jul-16,NaN,201,JNB,ATL,777,7103.0,NaN,...,34311.13793,Cruise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"STARS report with turb, no injury report, no p..."
1,TRB16002,NaN,2-Jul-16,03JUL16 0100Z,2004,LAX,SLC,320,3215.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FOQA did not detect turbulence on this flight....
2,TRB16003,NaN,5-Jul-16,NaN,853,DTW,RSW,M90,9231.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Conflicting reports on question F4. FOQA did n...
3,TRB16004,NaN,5-Jul-16,05JUL160445Z,83,CDG,ATL,777,7101.0,NaN,...,3038.549444,Approach,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FOQA did not detect turbulence during this fli...
4,TRB16005,NaN,6-Jul-16,NaN,2128,DTW,MCO,757,6710.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Discrepancy on flight leg as to DTW-MCO or MCO...

In [4]:
from openpyxl import load_workbook

In [8]:
workbook = load_workbook('Complete Data.xlsx')

In [10]:
workbook.head()

AttributeError: 'Workbook' object has no attribute 'head'